@media screen and (min-width: 375px) {
    .boxes-one{
        margin-right: 35px;
    }

    .list-one{
        margin-right: 35px;
    }
}

@media screen and (min-width: 425px){
    .boxes-one{
        margin-right: 64px;
    }
}

@media screen and (min-width: 560px){
    .list-one{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .list-desing{
        margin-right: 70px;
    }

    .list-two{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 10px;
    }


    .list-video{
        position: relative;
        right: 5px;
    }

    .list-development{
        position: relative;
        right: 37px;
    }
}

@media screen and (min-width: 1024px){

    html{
        overflow-x: hidden;
    }

    .sub-container-section-eight{
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 999px;
    }

    .list-desing{
        margin-right: 0px;
    }

    .list-marketing{
        position: relative;
        left: 50px;
    }

    .list-two{
        margin-right: 0px;
        position: relative;
        right: 0px;
        left: 12px;
    }

    .list-two li{
        font-size: 1.3rem;
    }


    .list-video {
        width: 190px;
        position: relative;
        left: 11px;
        margin-right: 0px;
    }

    .list-development{
        position: relative;
        left: 0.1px;
    }


    .container-section-six{
        align-items: inherit;
    }


    .container-image-section-six{
       max-width: 500px;
       border-radius: 20px 20px 0px 0px;
    }

    .container-image-section-six img{
        width: 90%;
        bottom: 50px;
    }

}

@media screen and (min-width: 1440px){

    .image-section-eight img{
       max-width: 700px;
       border-radius: 0px;
    }

}